@import "tailwindcss";


@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  html, body, #root {
    margin: 0;
    padding: 0;
    height: 100%;
  }
}

@theme {
  /* Colores constantes personalizados */
  --color-primary: #3b82f6;
  --color-secondary: #6366f1;
  --color-accent: #ef4444;
  --color-success: #16a34a;
  --color-error: #dc2626;
  --color-warning: #facc15;
  --color-info: #0ea5e9;
  --color-white: #ffffff;
  --color-black: #000000;
}

@layer base {
  :root {
    /* Variables para modo claro */
    --color-background: #ffffff;
    --color-textPrimary: #111827;
    --color-textSecondary: #6b7280;
    --color-card: #f9fafb;
    --color-border: #e5e7eb;
    --color-hover: #f3f4f6;
    --color-button: #3b82f6;
    --color-button-text: #ffffff;
    --color-link: #2563eb;
    --color-link-hover: #1d4ed8;
    --color-shadow: rgba(0, 0, 0, 0.1);
  }

  .dark {
    /* Variables para modo oscuro */
    --color-background: #0f172a;
    --color-textPrimary: #f9fafb;
    --color-textSecondary: #9ca3af;
    --color-card: #1e293b;
    --color-border: #334155;
    --color-hover: #475569;
    --color-button: #2563eb;
    --color-button-text: #ffffff;
    --color-link: #3b82f6;
    --color-link-hover: #60a5fa;
    --color-shadow: rgba(255, 255, 255, 0.1);
  }
}
